tools/
build_logfile/
build_source/
build_tmp/
cross/
custom/*-local*
driver/
flash/
release_image/
own_build/
patches/patch-neutrino/
root/boot/*
tufsbox/
.deps/
config*
config.local
Makefile.local
*~
